* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header Begin*/
#header {
    background: #f8f8f8;

}
#header .config-top-banner{
    background: #001d4d;
    /*background: #484952;*/

    color: #ffffff;
}
#header .config-top-banner .slogan {
    font-size: 20px;
}
#header .config-top-banner .icon-slogan i{
    animation-name: change-color-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes change-color-icon {
    0% {color: #ffffff}
    50% {color: #0c9129
    }
    100% {color: #ffffff}
}
#header .menu .col-2{
    margin-top: -10px;
    /*padding-bottom: 10px;*/
}
#header .menu .menu-right {
    margin-top: 0;
}
#header .menu img {
    width: 40px;
    height: 40px;
}
.menu .drop-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.menu .drop-menu .menu-item {
    position: relative;
}
.menu .drop-menu .menu-item a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.6;
}
.menu .drop-menu .menu-item:hover a{
    /*background: #e7e8e9;*/
    background: #f8f8f8;
    color: #1e7e34;
}
.menu .menu-right {
    display: flex;
    flex-direction: row-reverse;
}
.menu .menu-right .icon-item{
    padding: 8px;
    font-size: 20px;
    margin-top: -16px;
}
.menu .menu-right .icon-item a {
    color: #000000;
    opacity: 0.6;
}
.menu .menu-right .icon-item:hover a {
    color: #1e7e34;
}
.menu .menu-right .search {
    position: relative;
}
.menu .menu-right #search-container {
    z-index: 1;
    position: absolute;
    top: 55px;
    right: 0;
    display: none;
}
.menu .menu-right .box-search {
    border: 1px solid #000000;
}
.menu .menu-right .box-search input[type=search] {
    border: none;
    outline: none;
}
.menu .menu-right .box-search .btn-search {
    width: 90px;
    border: none;
}
.menu .menu-right .box-search .btn-close {
    border: none;
    padding: 0 10px;
}
/*Header End*/

/*Slide Show Begin*/

#slideShow .mySlides {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    opacity: 0.8;
}
/*#slideShow .leftSlide,*/
/*#slideShow .rightSlide*/
/*{*/
/*    position: absolute;*/
/*    top: 50%;*/
/*}*/
/*#slideShow .leftSlide {*/
/*    left: 30px;*/
/*}*/
/*#slideShow .rightSlide {*/
/*    right: 30px;*/
/*}*/
/*#slideShow .leftSlide i,*/
/*#slideShow .rightSlide i*/
/*{*/
/*    padding: 5px;*/
/*    border: 1px solid #ffffff;*/
/*    border-radius: 50%;*/
/*    color: #ffffff;*/
/*    font-size: 30px;*/
/*    opacity: 0.7;*/
/*}*/
#slideShow .dotList {
    position: absolute;
    bottom: 20px;
    left: 45%;
}
#slideShow .dotList .dot {
    padding: 0px 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 0 10px;
}
/*Slide Show End*/
/*Footer Begin*/
#footer {
    background: #f8f8f8;
    color: #000000;
}
#footer> .container {
    padding-top: 32px;
    padding-bottom: 16px;
}
#footer .about-us-footer .address p,
#footer .product-footer p
{
    margin-bottom: 8px;
}
#footer .about-us-footer .address p:last-child {
    margin-bottom: 0;
}
#footer .social .social-icon a {
    color: #000000;
    font-size: 20px;
    margin-right: 10px;
}
#footer .big-title-footer {
    padding: 20px 0;
    position: relative;
}
#footer .big-title-footer::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 20px;
    width: 50%;
    left: 0;
    border-top: 3px solid #000000;
}
#footer .copy-right {
    background: #494949;
    color: white;
}
/*Footer End*/


/*Contact CSS*/
/*Form Begin*/
#content .contact_area .container{
    padding-top: 40px;
}

#content .contact_area .container .row {
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#content .contact_area .container .row .col-lg-6 .contact_message h3{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}

#content .contact_area .container .row .col-lg-6 .contact_message ul li{
    border-top: 1px solid #cecece;
    padding: 10px 10px;
    font-size: 15px;
}
#content .contact_area .container .row .contact_message #contact-form p label{
    font-weight: bold;
    font-size: 18px;
}

#content .contact_area .container .row .contact_message #contact-form p{
    display: flex;
    flex-direction: column;
}

#content .contact_area .container .row .contact_message #contact-form .contact_textarea{
    display: flex;
    flex-direction: column;
}

#content .contact_area .container .row .contact_message #contact-form .contact_textarea label{
    font-weight: bold;
    font-size: 15px;
}

#content .contact_area .container .row .contact_message #contact-form button{
    margin-top: 20px;
    width: 20%;
    background: #0d8509;
    border: none;
    color: #ffffff;
    font-size: 25px;
}

/*Form End*/

/*Map Location Begin*/

#content .map .map_location{
    text-align: center;
    margin: 30px;
}

#content .map .map_location h3{
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

/*Map Location End*/