<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/logoShopKey.png" />
</head>

<body>
<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex justify-content-center">
      <div style="padding-left: 40px" class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
        <a style="height: 40px; width: 50px;" class="navbar-brand brand-logo" href="../../../index.html"><img src="images/logoShopKey.png" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a>
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-sort-variant"></span>
        </button>
      </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <ul class="navbar-nav mr-lg-4 w-100">
        <li class="nav-item nav-search d-none d-lg-block w-100">
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="search" aria-describedby="search">
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown me-1">
          <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-bs-toggle="dropdown">
            <i class="mdi mdi-message-text mx-0"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
            <p class="mb-0 font-weight-normal float-left dropdown-header">Tin nhắn</p>
            <a class="dropdown-item">
              <div class="item-thumbnail">
                <img src="images/faces/face4.jpg" alt="image" class="profile-pic">
              </div>
              <div class="item-content flex-grow">
                <h6 class="ellipsis font-weight-normal">Hoàng Khải
                </h6>
                <p class="font-weight-light small-text text-muted mb-0">
                  Đơn hàng của tôi khi nào sẽ được giao?
                </p>
              </div>
            </a>
            <a class="dropdown-item">
              <div class="item-thumbnail">
                <img src="images/faces/face2.jpg" alt="image" class="profile-pic">
              </div>
              <div class="item-content flex-grow">
                <h6 class="ellipsis font-weight-normal">Thảo Châu
                </h6>
                <p class="font-weight-light small-text text-muted mb-0">
                  Shop còn key windows 11 không ạ?
                </p>
              </div>
            </a>
            <a class="dropdown-item">
              <div class="item-thumbnail">
                <img src="images/faces/face3.jpg" alt="image" class="profile-pic">
              </div>
              <div class="item-content flex-grow">
                <h6 class="ellipsis font-weight-normal">Minh Tâm
                </h6>
                <p class="font-weight-light small-text text-muted mb-0">
                  Cảm ơn shop!
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown me-4">
          <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
            <i class="mdi mdi-bell mx-0"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
            <p class="mb-0 font-weight-normal float-left dropdown-header">Thông báo</p>
            <a class="dropdown-item">
              <div class="item-thumbnail">
                <div class="item-icon bg-success">
                  <i class="mdi mdi-information mx-0"></i>
                </div>
              </div>
              <div class="item-content">
                <h6 class="font-weight-normal">Lỗi không thể hiển thị sản phẩm</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  5 phút trước
                </p>
              </div>
            </a>
            <a class="dropdown-item">
              <div class="item-thumbnail">
                <div class="item-icon bg-warning">
                  <i class="mdi mdi-settings mx-0"></i>
                </div>
              </div>
              <div class="item-content">
                <h6 class="font-weight-normal">Lỗi cài đặt hệ thống</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  15 giờ trước
                </p>
              </div>
            </a>
            <a class="dropdown-item">
              <div class="item-thumbnail">
                <div class="item-icon bg-info">
                  <i class="mdi mdi-account-box mx-0"></i>
                </div>
              </div>
              <div class="item-content">
                <h6 class="font-weight-normal">Người dùng mới đăng kí</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  2 ngày trước
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
            <img src="../../images/img-compressed.jpg" alt="profile"/>

            <span class="nav-profile-name">Nguyễn Trung Hiếu</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="mdi mdi-settings text-primary"></i>
              Cài đặt
            </a>
            <a class="dropdown-item">
              <i class="mdi mdi-logout text-primary"></i>
              Đăng xuất
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="../../../index.html">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title">Trang chính</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/forms/basic_elements.html">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Mẫu điền thông tin</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/tables/basic-table.html">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Thêm sản phẩm mới</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <i class="mdi mdi-account menu-icon"></i>
            <span class="menu-title">Quản lý tài khoản</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Đăng nhập </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Đăng kí </a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Khóa màn hình </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../../index.html">
            <i style="padding-right: 20px" class="mdi mdi-keyboard-return"></i>
            <span class="menu-title">Trở về web bán hàng</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <main class="main">
        <div class="container-fluid">
          <div class="row">
            <!-- tittle -->
            <div class="col-12">
              <div class="main__title">
                <h2>Thêm sản phẩm mới</h2>
              </div>
            </div>

            <!-- content -->
            <div class="col-12">
              <form action="" class="form">
                <div class="row row--form">

                  <!-- image upload -->
                  <div class="col-12 col-md-5 form__cover">
                    <div class="row row--form">
                      <div class="col-12 col-sm-6 col-md-12">
                        <div class="form__img">
                          <label for="form__img-upload">Thêm ảnh</label>
                          <input id="form__img-upload" name="form__img-upload" type="file" accept=".png, .jpg, .jpeg">
                          <img id="form__img" src="#" alt=" ">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-7 form__content">
                    <div class="row row--form">

                      <div class="col-12">
                        <input type="text" class="form__input" placeholder="Tên sản phẩm">
                      </div>

                      <div class="col-12">
                        <textarea id="text" name="text" class="form__textarea" placeholder="Mô tả"></textarea>
                      </div>

                      <div class="col-12 ">
                        <!-- <div class="col-12"> -->
                        <input type="text" class="form__input" placeholder="Số lượng">
                        <!-- </div> -->
                      </div>

                      <div class="col-12">
                        <input type="text" class="form__input" placeholder="Nhà sản xuất">
                      </div>

                    </div>
                  </div>

                  <div class="col-12">
                    <div class="row row--form">
                      <div class="col-12">
                        <button type="button" class="form__btn">Thêm</button>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>

          </div>
        </div>
      </main>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
<!--        <footer class="footer">-->
<!--        <div class="d-sm-flex justify-content-center justify-content-sm-between">-->
<!--          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2021</span>-->
<!--          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Only the best <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard  </a> templates</span>-->
<!--        </div>-->
<!--        </footer>-->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
